<!-- contact.ejs, Sami Sekucoglu, 301206417, 01.10.2022 -->
<div class="container">
    <br>
    <br>
    <center><h1><%= title %></h1></center>
    <br>
    <br>
    <!-- Form -->
    <center><form>
        <label for="fname">First Name: </label><br>
    	<input type="text" name="fname"><br><br>
    	<label for="lname">Last Name: </label><br>
    	<input type="text" name="lname"><br><br>
    	<label for="phone">Phone: </label><br>
    	<input type="tel" name="phone"><br><br>
    	<label for="email">Email: </label><br>
    	<input type="email" name="email" required><br><br>
        <input type="submit" name="submit">
    </form></center>
    <br>
    <br>
    <center><p>Alternatively, you can reach me by;</p></center>
    <br>
    <center><p><strong>Phone: </strong> +1 647 513 45 40</p></center>
    <center><p><strong>Email: </strong><a href="mailto:ssekuc@gmail.com">ssekuc@gmail.com</a> </p></center>
    <br>
    <br>
</div>