<!-- home.ejs, Sami Sekucoglu, 301206417, 01.10.2022 -->
<div class="container">
    <br>
    <center><h1>Welcome to my Portfolio!</h1></center>
    <br>
    <br>
    <p style="font-size:150%;">This website is created by me to show anyone who wants to know me better and see my projects!</p>
    <br>
    <br>
    <p>Here is the Mission Statement?:</p>
    <ul>
        <li>Studying Node.js more</li>
        <li>Prepare better, unique, interesting portfolio website</li>
    </ul>
    <br>
    <br>
    <br>
    <center><p style="font-size: 150%;">Let's start, shall we?</p></center>
    <br>
    <br>
    <center><input style="font-size: xx-large; font-weight: bold; color: red;" type="button" onclick="location.href='/about';" value="CLICK ME!" /></center>
</div>