<!-- services.ejs, Sami Sekucoglu, 301206417, 01.10.2022 -->
<div class="container">
    <center><h1><%= title %></h1></center>
    <br>
    <br>
    <br>
    <center><p style="font-size: 150%;"><strong>Here is the list of my services:</strong></p></center>
    <br>
    <br>
    <!-- List for services -->
    <center><ul style="list-style: none; line-height: 7.6;">
        <li style="font-size: 200%;">C#</li>
        <li style="font-size: 200%;">Java</li>
        <li style="font-size: 200%;">Front End (Don't look at the website, I know it looks bad but I will fix it.)</li>
        <li style="font-size: 200%;">Not mobile for now  but, I'm working on it.</li>
    </ul></center>
</div>